@charset "UTF-8";
table{
		margin:0 auto;
		width:100%;
		border-left:1px solid gray;
		border-top:1px solid gray;
	}
	
	td{
		border-right:1px solid gray;
		border-bottom:1px solid gray;
		text-align:center;
	}
	tr{
		line-height: 30px;
	}
	tr:first-of-type {
		font-weight:bold;
	}
	
	.wrap{
		width:500px;
		margin:0 auto;
	}
	.add{
		float:right;
	}
	
	.clearfix:after{
		content:'';
		display:table;
		clear:both;
	}
	.btn{
		text-align: center;
	}
	button{
		margin: 10px;
	    border: 1px solid transparent;
	    padding: 8px 20px;
	    border-radius: 3px;
	    background: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
	    color: #fff;
	}
	
	a{
		color:#0665A5;
		text-decoration: none;
	}
	
	html{
		height:100%;
	}
	body{
		margin:0;
		padding: 0;
	}
	
	.modal{
		display:none;/*模态框默认隐藏*/
		position: absolute;
		width: 100%;
		height: 100%;
		left:0;
		top:0;
	}
	
	.modal .mask{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		z-index: 998;
		position: absolute;
		left:0;
		top:0;
	}
	
	.modal .content{
		position: absolute;
		width: 200px;
		height: 50px;
		background: #fff;
		
		/*提示内容显示在页面的正中*/
		left: 50%;
		top:50%;
		margin-left: -100px;
		margin-top: -25px;
		z-index: 999;
		border-radius: 5px;
		box-shadow: 0 3px 10px #000;
		text-align: center;
	}
	
	.success,.fail{
		font:normal bold 30px "微软雅黑"; 
		line-height: 50px;
	}
	
	.success{
		color:green;
	}
	.fail{
		color:red;
	}